.prefoptions label, checkbox{
    margin-top:8px;
}
.intro{
}
.info{
    color:#666666;
    padding-left:1em;
    padding-right: 1em;
}
.advanced{
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.1em;
}
.hidden_js_string{
    display:none;
}