version: 2.1

jobs:
  unit-tests:
    docker:
      - image: cimg/node:12.18
    steps:
      - checkout
      - run: node --version
      - run: npm install
      - run: ./test.sh
  integration-tests:
    docker:
      - image: cimg/base:stable
    parameters:
      version:
        type: string
    environment:
      THUNDERBIRD_VERSION: << parameters.version >>
    steps:
      - checkout
      - setup_remote_docker
      - run: ./script/docker_integration_test.sh

workflows:
  main: &main_workflow
    jobs:
      - unit-tests
      - integration-tests:
          name: "latest"
          version: "latest"
      - integration-tests:
          name: "beta-latest"
          version: "beta-latest"
  weekly:
    <<: *main_workflow
    triggers:
      - schedule:
          cron: "0 0 * * 1"
          filters:
            branches:
              only:
                - master
