name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Conventional Changelog Action
        uses: TriPSs/conventional-changelog-action@v6
        with:
          github-token: ${{ secrets.github_token }}
          input-file: CHANGELOG.md
          version-file: addon/manifest.json
          pre-commit: .github/workflows/pre-commit.cjs