on:
  schedule:
    - cron: '0 10 * * *'
  workflow_dispatch:

name: create-pull-request with latest Thunderbird

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Get last Thunderbird version
        id: vars
        run: |
          curl -s https://ftp.mozilla.org/pub/thunderbird/releases/ |grep -oP "/releases/[^/]+/" |cut -d "/" -f 3 |sort -n | cut -d "b" -f 1 | tail -n 1 | tr -d "\n" > /tmp/latest-thunderbird
          echo "latest_version=$(cat /tmp/latest-thunderbird)" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v3
      - name: Update max version
        run: |
          mv addon/manifest.json addon/manifest.json.original
          jq ".applications.gecko.strict_max_version |= \"${{steps.vars.outputs.latest_version}}\"" addon/manifest.json.original > addon/manifest.json
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "fix: Support latest Thunderbird release ${{steps.vars.outputs.latest_version}}"
          branch: 'github-action/update-to-latest-thunderbird'
          title: 'Fix: support latest Thunderbird ${{steps.vars.outputs.latest_version}}'
          body: >
            This PR is auto-generated by a github action to support latest thunderbird released, v${{steps.vars.outputs.latest_version}}
